{% extends "layout.html" %}
{% block content %}
    <div style="margin-bottom: 50px">
        <h2>Visualisation Report</h2>
    </div>

    <div class="col-md-9">
        <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Borrow Books Report</h3>
        </div>
        <div class="panel-body">
            <iframe width="600" height="450"
                    src="https://datastudio.google.com/embed/reporting/17tJA1SvQxGa5qBCp4bZM14AvdGOZMxrs/page/IGkq"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="panel panel-info" style="margin-top: 50px;margin-bottom: 100px">
        <div class="panel-heading">
            <h3 class="panel-title">Return Books Report</h3>
        </div>
        <div class="panel-body">
            <iframe width="600" height="450"
                    src="https://datastudio.google.com/embed/reporting/1qMr7JeYy0riXvXhQLozcG8s2ERxSJmDT/page/qGkq"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    </div>


{% endblock content %}